button.accordion {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: 'Raleway';
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    line-height: 1.2;
    
    width: 100%;
    padding: 0.75rem;
    padding-inline: 2rem;
    i{
        scale: 1.5;
    }
}
.accordion_content{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
.light_border{
    border: 0.1rem solid var(--gray);
    
}
#lenguajes_container{
    span{
        font-family: 'Fira Sans';
        font-size: 1.2rem;
        letter-spacing: 1.25;
    }
    .competencia{
        
    }
}

