/* variables colores */
:root {
    --celeste: #a1ffeb;
    --neon: #2897ff;

    --main: #2760FF;
    --main_alt_dark: #00258C;
    --main_alt_soft: #7095FA;
    --white: #F5F5F5; 
    --gray: #838383;
    --gray_dark: #353535;
    --black: #1F1F1F;

    font-size: 16px;
    color: var(--white);
}
main path{
    fill: var(--white);
}
html {
    scroll-behavior: smooth;
}
main{
    overflow-x: hidden;
}
/* font-sizes start */
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.regular{
    font-weight: 400;
}
.light{
    font-weight: 300;
}
.extralight{
    font-weight: 200;
}
/* font-sizes end */
footer{
    border-top: 0.1rem solid var(--gray);
}
body{
    background-color: var(--black);
    color: var(--white);
    font-family: 'Raleway';
}
header{
    background-color: var(--black);
    transition: all 1s;
    color: whitesmoke;
}
p{  
    text-align: justify;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    line-height: 1.2;
}
ul{
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.04rem;
    line-height: 1.2;
    
    >*{
        padding-block: 0.5rem;
    }
}
.pdf_preview{
    position: relative;
}
.pdf_preview img {
    border-radius: 2rem;
    border: 0.1rem solid black;
    box-shadow: 2px 4px 16px var(--gray);
}
.pdf_preview::after {
    content: '';
    background-image: url('../img/icons/placeholder_pdf.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    scale: 1 1.1;
    
}
li{
    list-style: square;
    list-style-position: inside;
}
h2{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    transform: scaleY(1.15);
}
h3{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
h4{
    font-family: 'Fira Sans';
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.double_title :first-child{
    transform: translate(-1rem);
}
img{
    width: 100%;
}
.overflow_img{
    transform: scale(1.05);
}
i{
    font-size: 1.5rem;
    transition: all 0.5s;
}
.makeshift_icon_svg{
    width: 1.75rem;
    fill: whitesmoke;
}
button{
    cursor: pointer;
    background-color: #ffffff00;
}
#responsive_header{
    border-bottom: 0.1rem solid var(--gray);
}
#responsive_nav{
    display: none;
    transition: all 0.2s;
    >*{
        display: none;
        border-bottom: 0.05rem solid var(--gray);
    }
}
.icon_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}
#nombre{
    font-family: 'Fire Sans';
    letter-spacing: 0.1rem;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1.1rem;
    gap: 1rem;
}
#logo{
    width: 3rem;
    aspect-ratio: 1;
    position: relative;
    z-index: 0;
}
#logo .image_container{
    position: absolute;
    background-image: url("../img/perfil3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    width: 78%;
    height: 78%; 
}
#logo svg{
    width: 100%;
    height: 100%;
    fill: var(--neon);
}
.halo::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 70%;
    height: 75%;
    background-image: linear-gradient(to top, #0066ff, rgba(0, 0, 0, 0));
    background-size: cover;
    z-index: -1;
    border-radius: 5rem;
}
#desktop_menu{
    transition: all 1s;
    padding: 0.3rem;
    font-family: 'Fira Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#desktop_menu > *{
    padding-inline: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 0.025rem;
    white-space: nowrap;
}
#responsive_menu_button{
    display: none;
    aspect-ratio: 1;
    transition: all 0.3s;
}
.deplegable_titulo{
    gap: 0.5rem;
    padding: 0.5rem;
    padding-inline: 0.75rem;
}
.desplegable{
    display: flex;
    position: relative;
}
.desplegable_options{
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 100%;
    background-color: var(--black);
    border-radius: 0.5rem;
    display: none;
    border-bottom: 0.1rem black solid;

}
.desplegable_option{
    padding: 0.75rem;
    transition: all 0.2s;
}
.siglas{
    letter-spacing: 0.2rem;
}
.app_hover{
    color: whitesmoke;
}
.app_hover:hover{
    transition: all 0.1s;
    color: var(--main);
}

#competencias{
    font-family: 'Varela Round';
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.gradient_background{
    position: relative;
}
.gradient_background::after{
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    background-image: linear-gradient(to right bottom, #4576ff, #4f63c579, #4b508f75, #403e5c7d, #2e2e2e);
    z-index: -1;
}

.text_content_box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}
.text_content_header{
    font-weight: 400;
}
.text_content_box .app_color_button{
    align-self: center;
    margin-block: 1rem;
}

#introduce_myself .image_container::before{
    position: absolute;
    content: '';
    inset: 20%;
    background-image: radial-gradient(transparent 50%, black 90%), url(../img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: entrance 1s ease;
    border-radius: 50%;
    aspect-ratio: 1;
    outline: 0.1rem black solid;
}

/* app_color_button */
.app_color_button{
    isolation: isolate;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: whitesmoke;
    padding: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: 0.6rem;
    transition: all 0.25s ease;
    overflow: hidden;

    font-family: 'Fira Sans';
    font-size: 1.5rem;
    font-weight: 400; /* regular */
}
.app_color_button::after{
    content: '';
    position: absolute;
    width: 70%;
    aspect-ratio: 1;
    background-color: var(--main);

    z-index: -1;
    transition: all 0.25s ease;
    /* forma diamante */
    transform: scale(1,1.3) rotate(45deg);
}
.app_color_button:hover{
    scale: 1.1;
}
.app_color_button:hover::after{
    background-color: var(--main_alt_dark);
    border: 0.2rem solid white;
}
/* app_color_button end */

/* hex_app_button start*/
.hex_app_button{
    align-self: center;
    position: relative;
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-inline: 1.5rem;
    transition: all 0.25s;
    font-size: 1rem;
    width: 1.5rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hex_app_button::after{
    pointer-events: none;
    content: '⬣';
    position: absolute;
    color: var(--main);
    transition: all 0.3s ease;
    font-size: 4rem;
    z-index: -1;
}
.hex_app_button:hover::after{
    color: whitesmoke;
    scale: 1.25;
}
.hex_app_button:hover{
    color: black;
}
/* hex_app_button end*/

/* text_hover */
.text_hover{
    transition: all 0.5s;
}
.text_hover:hover{
    color: var(--main);
    transition: all 0.5s;
}

/* container_hover */
.container_hover{
    transition: all 0.5s;
}
.container_hover:hover{
    scale: 1.1;
}

/* footer */
#contacto_container{
    i{
        font-size: 3rem;
    }
}

/* generic classes */
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* dividers */ 
.divider{
    width: 60%;
    border-radius: 1rem;
    border-top: 0.5rem solid orange;
    transform: translate(0, 50%);
}
.divider_blue{
    width: 90%;
    border-radius: 1rem;
    border-top: 0.5rem solid var(--main);
    transform: translate(0, -50%);
}

/* media queries */ 
/* pantallas mayores de 1921px */ 
@media screen and (min-width: 1921px) {
    :root {
        font-size: 36px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
}

@media screen and (max-width: 1920px) {
    :root {
        font-size: 16px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
}

/* xl */
@media screen and (max-width: 1400px) {
    :root {
        font-size: 16px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
}

/* lg */
@media screen and (max-width: 1200px) {
    :root {
        font-size: 14px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
}

/* md */
@media screen and (max-width: 992px) {
    :root {
        font-size: 14px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
    #responsive_menu_button{
        display: none;
    }
    #desktop_menu{
        display: flex;
    }
    #introduce_myself{
        flex-direction: column;
    }
}

/* sm */
@media screen and (max-width: 768px ) {
    :root {
        font-size: 14px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
    #responsive_menu_button{
        display: flex;
    }
    #desktop_menu{
        display: none;
    }
    
}

/* xs */
@media screen and (max-width: 576px){
    :root {
        font-size: 14px; /* Cambia el tamaño de fuente para pantallas más pequeñas */
    }
}
@keyframes entrance {
    from{
        transform: translate(100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes rotation {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

/* generic bgs*/
.bg_main {
    background-color: var(--main);
}

.bg_alt_dark {
    background-color: var(--main_alt_dark);
}

.bg_alt_soft {
    background-color: var(--main_alt_soft);
}

.bg_white {
    background-color: var(--white);
}

.bg_gray {
    background-color: var(--gray);
}

.bg_gray_dark {
    background-color: var(--gray_dark);
}

.bg_black {
    background-color: var(--black);
}