:root {
    --font-size: 16px;
  }
  @media screen and (max-width: 400px) {
    :root {
      --font-size: 10px;
    }
  }
  
  @media screen and (max-width: 500px) {
    :root {
      --font-size: 12px;
    }
  }
  
  @media screen and (max-width: 768px) {
    :root {
      --font-size: 14px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
      --font-size: 18px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    :root {
      --font-size: 20px;
    }
  }
  