
:root {
    --gris_fondo2: rgb(46, 46, 46);
    --gris_fondo: #1f1f1f;
    --azul: #4576ff;
    --celeste: #a1ffeb;
}
*{ font-family: 'Fira Sans'; }
body{
    background-color: var(--gris_fondo2);
}
#nav{
    color: whitesmoke;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: var(--gris_fondo);
}
#nombre, #menu{
    padding: 1rem;
    gap: 1.5rem;
}
#nombre{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    text-align: left;
    align-items: center;
    justify-content: start;
    font-family: 'Fire Sans';

    letter-spacing: 0.05rem;
    font-family: 'Fira Sans';
    font-weight: 600;
    font-size: 1.2rem;
}
#menu{
    padding: 1rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#menu > *{
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}
.deplegable_titulo{
    gap: 0.5rem;
}
.desplegable{
    display: flex;
    flex-direction: column;
    outline: solid 0.1rem black;
    position: relative;
}
.desplegable > *{
    padding: 0.5rem;
    padding-inline: 0.75rem;
}
.desplegable_options{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 100%;
}
.desplegable_options > *{
    padding: 0.5rem;
}
.hex::before {
    content: "\2B22";
    color: var(--celeste);
    font-size:135px;
}